.track-of-path {
  background-image: url("../resources/Breadcrumbs\ .png");
  background-size: cover;
  display: flex;
  width: 120rem;
  height: 7.5rem;
  padding: 0rem 89.36456rem 0rem 18.75rem;
  align-items: center;
  flex-shrink: 0;
}

.track {
  display: flex;
  align-items: center;
}

.contact-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.location-and-contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.map-container-one {
  display: flex;
  width: 100%;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.contact-info {
  display: inline-flex;
  padding: 0rem 1.25rem;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0.5rem;
  background: var(--Gray-Scale-White, #fff);
  box-shadow: 0px 0px 56px 0px rgba(0, 38, 3, 0.08);
}

.address {
  display: flex;
  padding: 1.5rem 0rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 0.625rem;
}

.gmail {
  display: flex;
  padding: 1.5rem 0rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 0.625rem;
}

.phonenumber {
  display: flex;
  padding: 1.5rem 0rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 0.625rem;
}

.address span {
  color: var(--Gray-Scale-Gray-800, #333);
  text-align: center;
  font-family: customFont;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  width: 17rem;
}

.gmail span {
  color: var(--Gray-Scale-Gray-800, #333);
  text-align: center;
  font-family: customFont;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 1.7rem */
  width: 17rem;
}

.phonenumber span {
  width: 17rem;
  color: var(--Gray-Scale-Gray-800, #333);
  text-align: center;
  font-family: customFont;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 1.7rem */
}

.hello-message {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 0.5rem;
  background: var(--Gray-Scale-White, #fff);
  box-shadow: 0px 0px 56px 0px rgba(0, 38, 3, 0.08);
}

.hello-message h1 {
  color: var(--Gray-Scale-Gray-900, #1a1a1a);
  font-family: customFont;
  font-size: 1.5rem;
  text-align: start;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.hello-message p {
  width: 30.375rem;
  color: var(--Gray-Scale-Gray-500, #808080);

  /* Body Small/Body Small, 400 */
  font-family: customFont;
  text-align: start;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
}

.hello-message :nth-child(3) {
  display: flex;
  width: 27.125rem;
  height: 3.0625rem;
  padding: 0.875rem 15.625rem 0.875rem 1rem;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.375rem;
  border: 1px solid var(--Gray-Scale-Gray-100, #e6e6e6);
  background: var(--Gray-Scale-White, #fff);
  outline: none;
}

.hello-message :nth-child(4) {
  display: flex;
  width: 55.25rem;
  height: 3.0625rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  outline: none;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.375rem;
  border: 1px solid var(--Branding-Success, #00b207);
  background: var(--Gray-Scale-White, #fff);
  color: var(--Gray-Scale-Gray-900, #1a1a1a);
  font-family: customFont;
  flex: 1 0 0;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 1.3rem */
}

.hello-message button {
  display: inline-flex;
  height: 3rem;
  width: 15rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 2.6875rem;
  background: var(--Branding-Success, #00b207);
  color: var(--Gray-Scale-White, #fff);
  font-family: customFont;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  border: none;
  line-height: 120%;
}

.map {
  background-image: url("../resources/map.png");
  background-size: cover;
  height: 25rem;
  flex-shrink: 0;
}
