@font-face {
  font-family: customFont;
  src: url("../resources/Poppins-Regular.ttf");
}

body {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: customFont;
  list-style: none;
}

.App {
  width: 100vw;
  max-height: 100vh;
  font-family: customFont;
  overflow-x: hidden;
}


.latest-news-for-mobile {
  display: none;
  padding-top: 5rem;
}

.testimonials-heading {
  text-align: start;
}

.location-icon {
  font-size: 1.5em;
  color: #000;
  font-weight: 500;
}

nav {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: var(--Gray-Scale-White, #fff);
}

.small-one {
  display: flex;
  min-width: 100%;
  padding: 2rem 8rem 2rem 8rem;
  justify-content: space-between;
  align-items: center;
  background: var(--Gray-Scale-White, #fff);
  box-shadow: 0px 1px 0px 0px #e5e5e5;
}

.location {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--Gray-Scale-Gray-600, #666);
  font-family: customFont;
  font-size: 0.75rem;
  font-family: customFont;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.linksAndLogin {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.logoandNameForMobile{
  display: none;
}

.first-txt {
  color: var(--Gray-Scale-Gray-600, #666);
  text-align: center;
  font-family: customFont;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 0.975rem */
}

.down-arrow {
  width: 2.4375rem;
  color: #303030;
  height: 1.21875rem;
}

.second-txt {
  color: var(--Gray-Scale-Gray-600, #666);
  text-align: center;
  font-family: customFont;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.sign-in {
  color: var(--Gray-Scale-Gray-600, #666);
  font-family: customFont;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-decoration: none;
}

.WelcomeMessage {
  display: none;
}

.gridlaganevalabox {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.sign-up {
  color: var(--Gray-Scale-Gray-600, #666);
  font-family: customFont;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-decoration: none;
}

.slash {
  color: var(--Gray-Scale-Gray-600, #666);
  font-family: customFont;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.middle {
  width: 100%;
  min-height: 5.8125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 8rem 0rem 8rem;
  gap: 0.5rem;
}

.navigation-for-mobile {
  display: none;
}

.plant {
  width: 2rem;
  height: 2rem;
}

.title {
  color: var(--Gren-Gray-Scale-900, #002603);
  font-family: customFont;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.375rem; /* 118.75% */
  letter-spacing: -0.06rem;
}

.searchBtn {
  display: flex;
  padding: 0.875rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
  letter-spacing: 0.078rem;
  gap: 0.75rem;
  border-radius: 0rem 0.375rem 0.375rem 0rem;
  background: var(--Branding-Success, #00b207);
  border: none;
}

.searchBtn:active {
  background: crimson;
}

.inputDiv {
  display: flex;
  width: 25rem;
  padding: 0.75rem 1.125rem 0.75rem 1rem;
  align-items: center;
  gap: 0.5rem;
}

.magnifying {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.inputField {
  width: 25rem;
  flex-shrink: 0;
  color: var(--Gray-Scale-Gray-500, #808080);
  font-family: customFont;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3125rem;
  outline: none;
  border: none;
}

.cartDetails {
  display: flex;
  margin-left: 24rem;
  align-items: center;
  gap: 1rem;
}

.cartItem {
  display: flex;
  width: 2.125rem;
  height: 2.125rem;
  flex-shrink: 0;
  color: #1a1a1a;
  position: relative;
}

.totalPriceOfItemsDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4375rem;
}

.shoppingcart-txt {
  color: var(--Gray-Scale-Gray-700, #4d4d4d);
  font-family: customFont;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 0.825rem */
}

.price {
  color: var(--Gray-Scale-Gray-900, #1a1a1a);
  font-family: customFont;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 0.875rem */
}

.handbag {
  font-size: 2rem;
  position: relative;
}

.totalItem {
  display: flex;
  width: 1.1rem;
  height: 1.15rem;
  padding: 0.21875rem 0.375rem 0.28125rem 0.375rem;
  justify-content: center;
  align-items: center;
  color: var(--Gray-Scale-White, #fff);
  text-align: center;
  font-family: customFont;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.625rem; /* 100% */
  border-radius: 1rem;
  border: 1px solid var(--Gray-Scale-White, #fff);
  background: var(--Branding-Success-Dark, #2c742f);
  position: absolute;
  margin-left: 1.1rem;
}

.homePageNavLink {
  text-decoration: none;
  display: flex;
}

.navLinks {
  display: flex;
  width: 100%;
  padding: 2rem 8rem 2rem 8rem;
  justify-content: space-between;
  align-items: center;
  background: var(--Gray-Scale-Gray-800, #333);
}

.diff-nav-links {
  display: flex;
  list-style: none;
  gap: 1.8em;
}

.diff-nav-links li {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-family: customFont;
}

.diff-nav-links li a {
  color: #fff;
  text-decoration: none;
}

.link-opening-arrow {
  display: flex;
  font-size: 2em;
  font-weight: lighter;
  padding: 0rem 0.20831rem;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.contact-number {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.phone {
  color: #fff;
  font-size: 2em;
}

.contact-number p {
  color: #fff;
}

.Bannar {
  width: 80%;
  min-height: 37.5rem;
  display: flex;
  gap: 3em;
  justify-content: center;
  flex-shrink: 0;
  padding-top: 3em;
  padding-left: 25em;
}

.Big-Bannar {
  background-image: url("../resources/Big-Bannar.jpeg");
  background-size: cover;
  border-radius: 1em;
  display: flex;
  width: 54.5rem;
  height: 40rem;
  align-items: center;
  flex-shrink: 0;
}

.small-bannar {
  display: flex;
  width: 100vw;
  gap: 4em;
  flex-direction: column;
  padding-top: -5em;
}

.small-bannar-bannar1 {
  background-image: url("../resources/small-bannar-1.png");
  background-size: cover;
  width: 26.4375rem;
  height: 18rem;
  border-radius: 0.625rem;
  flex-shrink: 0;
}

.small-bannar-bannar2 {
  background-image: url("../resources/small-bannar-2.png");
  background-size: cover;
  width: 26.4375rem;
  height: 18rem;
  flex-shrink: 0;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.75rem;
  margin: 9.69rem 13.5rem 9.69rem 3.75rem;
}

.ad-title {
  width: 30.25rem;
  text-align: start;
  color: var(--Gray-Scale-White, #fff);
  font-family: customFont;
  letter-spacing: 0.1rem;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.sales-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sales-first-part {
  color: var(--Gray-Scale-White, #fff);
  font-family: customFont;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.sales-second-part {
  border-radius: 0.3125rem;
  background: var(--Branding-Warning, #ff8a00);
  display: flex;
  padding: 0.25rem 0.75rem;
  align-items: flex-start;
  gap: 0.625rem;
  color: var(--Gray-Scale-White, #fff);
  font-family: customFont;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.shipping-text {
  color: var(--Gray-Scale-White, #fff);
  font-family: customFont;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  opacity: 0.8;
}

.shopNow-btn {
  display: flex;
  padding: 1rem 2.5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 3.3125rem;
  background: var(--Gray-Scale-White, #fff);
  color: var(--Branding-Success, #00b207);
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-family: customFont;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.info {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin: 2rem 14.69rem 7.5rem 2rem;
  text-align: start;
}

.summersale {
  color: var(--Gray-Scale-Gray-900, #1a1a1a);
  font-family: customFont;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: bolder;
  line-height: 100%;
  letter-spacing: 0.02625rem;
  text-transform: uppercase;
}

.onlyFruits-vegetables {
  color: var(--Gray-Scale-Gray-600, #666);
  font-family: customFont;
  font-size: 0.825rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.SeventyFivePercentoff {
  color: var(--Gray-Scale-Gray-900, #1a1a1a);
  font-family: customFont;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.shopNowBtn {
  color: var(--Branding-Success, #00b207);
  font-family: customFont;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-decoration: none;
}

.goarrowright {
  font-size: large;
  position: relative;
  left: 1em;
  top: 0.1em;
}

.leaf-Banner-info {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 4.19rem 2.5rem 4.25rem 2.5rem;
}

.Best-Deal-leaf-bannar {
  color: var(--Gray-Scale-White, #fff);
  text-align: center;
  font-family: customFont;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.02625rem;
  text-transform: uppercase;
}

.special-products-leaf-bannar {
  color: var(--Gray-Scale-White, #fff);
  text-align: center;
  font-family: customFont;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  width: 21.4375rem;
}

.leaf-bannar-ShopNowBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  border-radius: 2.6875rem;
  color: #00b207;
  text-decoration: none;
}

.features {
  display: flex;
  width: 100%;
  padding-top: 2.5rem;
  gap: 0rem;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0.5rem;
  background: var(--Gray-Scale-White, #fff);
  margin: 5.7rem 18.8rem 388rem 2.8rem;
}

.free-shipping {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.free-shipping-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  text-align: start;
}

.free-shipping-text {
  color: var(--Gray-Scale-Gray-900, #1a1a1a);

  /* Body Medium/Body Medium, 600 */
  font-family: customFont;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 1.2rem */
  width: 15.625rem;
}

.free-shipping-order-text {
  color: var(--Gray-Scale-Gray-400, #999);

  /* Body Small/Body Small, 400 */
  font-family: customFont;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
  width: 15.625rem;
}

.customer-support {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* margin: 2.5rem 3.81rem 2.5rem 3.8rem; */
}

.customer-support-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.customer-support-text {
  color: var(--Gray-Scale-Gray-900, #1a1a1a);

  /* Body Medium/Body Medium, 600 */
  font-family: customFont;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 1.2rem */
  width: 15.625rem;
}

.instant-access-text {
  width: 15.625rem;
  color: var(--Gray-Scale-Gray-400, #999);

  /* Body Small/Body Small, 400 */
  font-family: customFont;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
}

.secure-payment {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* padding: 2.5rem 3.81rem 2.5rem 3.81rem; */
}

.secure-payment-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  text-align: start;
}

.secure-payment-security-text {
  width: 15.625rem;
  color: var(--Gray-Scale-Gray-900, #1a1a1a);

  /* Body Medium/Body Medium, 600 */
  font-family: customFont;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 1.2rem */
}

.Bannar-forMobile {
  display: none;
}

.secure-payment-descrp {
  width: 15.625rem;
  color: var(--Gray-Scale-Gray-400, #999);

  /* Body Small/Body Small, 400 */
  font-family: customFont;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
}

.money-back-guarantee {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.money-back-guarantee-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.money-back-guarantee-text {
  width: 15.625rem;
  color: var(--Gray-Scale-Gray-900, #1a1a1a);

  /* Body Medium/Body Medium, 600 */
  font-family: customFont;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 1.2rem */
}

.money-back-guarantee-desc {
  width: 15.625rem;
  color: var(--Gray-Scale-Gray-400, #999);
  font-family: customFont;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.Popular-Categories {
  width: 100%;
  margin-top: -385rem;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.Popular-Categories-heading {
  color: var(--Gray-Scale-Gray-900, #1a1a1a);

  /* Heading 05/Heading 05 — 600 */
  font-family: customFont;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 2.4rem */
}

.Popular-Categories-first-ul {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
}

.Popular-Categories-second-ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
}

.Fresh-Fruit {
  display: flex;
  padding: 1rem 0rem 1rem 0rem;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  gap: 1rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--Gray-Scale-Gray-100, #e6e6e6);
  background: var(--Gray-Scale-White, #fff);
  transition: all;
  transition-duration: 0.5s;
}

.fresh-fruit-title {
  color: var(--Gray-Scale-Gray-900, #1a1a1a);
  text-align: center;

  /* Body Large/Body Large, 500 */
  font-family: customFont;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.6875rem */
  width: 12.5rem;
  transition: all;
  transition-duration: 0.5s;
}

.Fresh-fruit-img {
  width: 11.875rem;
  height: 8.125rem;
}

.Fresh-Vegetables {
  display: inline-flex;
  padding: 1rem 0rem 1.5rem 0rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.3125rem;
  background: var(--Gray-Scale-White, #fff);
  border: 1px solid var(--Gray-Scale-Gray-100, #e6e6e6);
  background: var(--Gray-Scale-White, #fff);
  transition: all;
  transition-duration: 0.5s;
}

.Fresh-Vegetables-img {
  width: 11.875rem;
  height: 8.125rem;
}

.fresh-vegetables-title {
  width: 12.5rem;
  text-align: center;

  /* Body Large/Body Large, 500 */
  font-family: customFont;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.6875rem */
  transition: all;
  transition-duration: 0.5s;
}

.Meat-Fish {
  display: inline-flex;
  padding: 1rem 0rem 1.5rem 0rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--Gray-Scale-Gray-100, #e6e6e6);
  background: var(--Gray-Scale-White, #fff);
  transition: all;
  transition-duration: 0.5s;
}

.Meat-Fish-img {
  width: 11.875rem;
  height: 8.125rem;
}

.Meat-Fish-title {
  color: var(--Gray-Scale-Gray-900, #1a1a1a);
  text-align: center;

  /* Body Large/Body Large, 500 */
  font-family: customFont;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.6875rem */
  width: 12.5rem;
  transition: all;
  transition-duration: 0.5s;
}

.Snacks {
  display: inline-flex;
  padding: 1rem 0rem 1.5rem 0rem;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--Gray-Scale-Gray-100, #e6e6e6);
  background: var(--Gray-Scale-White, #fff);
  transition: all;
  transition-duration: 0.5s;
}

.Snacks-img {
  width: 11.875rem;
  height: 8.125rem;
}

.Snacks-title {
  width: 12.5rem;
  color: var(--Gray-Scale-Gray-900, #1a1a1a);
  text-align: center;
  font-family: customFont;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  transition: all;
  transition-duration: 0.5s;
}

.Beverages {
  display: inline-flex;
  padding: 1rem 0rem 1.5rem 0rem;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--Gray-Scale-Gray-100, #e6e6e6);
  background: var(--Gray-Scale-White, #fff);
  transition: all;
  transition-duration: 0.5s;
}

.Beverages-img {
  width: 11.875rem;
  height: 8.125rem;
}

.Beverages-title {
  width: 12.5rem;
  color: var(--Gray-Scale-Gray-900, #1a1a1a);
  text-align: center;

  /* Body Large/Body Large, 500 */
  font-family: customFont;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.6875rem */
  transition: all;
  transition-duration: 0.5s;
}

.Bread-Bakery {
  display: inline-flex;
  padding: 1rem 0rem 1.5rem 0rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--Gray-Scale-Gray-100, #e6e6e6);
  background: var(--Gray-Scale-White, #fff);
  transition: all;
  transition-duration: 0.5s;
}

.Bread-Bakery-img {
  width: 11.875rem;
  height: 8.125rem;
}

.Bread-Bakery-title {
  width: 12.5rem;
  color: var(--Gray-Scale-Gray-900, #1a1a1a);
  text-align: center;

  /* Body Large/Body Large, 500 */
  font-family: customFont;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.6875rem */
  transition: all;
  transition-duration: 0.5s;
}

.Baking-Needs {
  display: inline-flex;
  padding: 1rem 0rem 1.5rem 0rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--Gray-Scale-Gray-100, #e6e6e6);
  background: var(--Gray-Scale-White, #fff);
  transition: all;
  transition-duration: 0.5s;
}

.Baking-Needs-img {
  width: 11.875rem;
  height: 8.125rem;
}

.Bread-Needs-title {
  color: var(--Gray-Scale-Gray-900, #1a1a1a);
  text-align: center;

  /* Body Large/Body Large, 500 */
  font-family: customFont;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.6875rem */
  width: 12.5rem;
  transition: all;
  transition-duration: 0.5s;
}

.Cooking {
  display: inline-flex;
  padding: 1rem 0rem 1.5rem 0rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--Gray-Scale-Gray-100, #e6e6e6);
  background: var(--Gray-Scale-White, #fff);
  transition: all;
  transition-duration: 0.5s;
}

.Cooking-img {
  width: 11.875rem;
  height: 8.125rem;
}

.Cooking-title {
  width: 12.5rem;
  color: var(--Gray-Scale-Gray-900, #1a1a1a);
  text-align: center;

  /* Body Large/Body Large, 500 */
  font-family: customFont;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.6875rem */
  transition: all;
  transition-duration: 0.5s;
}

.Diabetic-Food {
  display: inline-flex;
  padding: 1rem 0rem 1.5rem 0rem;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--Gray-Scale-Gray-100, #e6e6e6);
  background: var(--Gray-Scale-White, #fff);
  transition: all;
  transition-duration: 0.5s;
}

.Diabetic-Food-img {
  width: 11.875rem;
  height: 8.125rem;
}

.Diabetic-Food-title {
  width: 12.5rem;
  color: var(--Gray-Scale-Gray-900, #1a1a1a);
  text-align: center;

  /* Body Large/Body Large, 500 */
  font-family: customFont;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.6875rem */
  transition: all;
  transition-duration: 0.5s;
}

.Dish-Detergents {
  display: inline-flex;
  padding: 1rem 0rem 1.5rem 0rem;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--Gray-Scale-Gray-100, #e6e6e6);
  background: var(--Gray-Scale-White, #fff);
  transition: all;
  transition-duration: 0.5s;
}

.Dish-Detergents-img {
  width: 11.875rem;
  height: 8.125rem;
}

.Dish-Detergents-title {
  width: 12.5rem;
  color: var(--Gray-Scale-Gray-900, #1a1a1a);
  text-align: center;

  /* Body Large/Body Large, 500 */
  font-family: customFont;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.6875rem */
  transition: all;
  transition-duration: 0.5s;
}

.Fresh-Fruit:hover {
  border: 1px solid var(--Branding-Success-Dark, #2c742f);
  background: var(--Gray-Scale-White, #fff);
  box-shadow: 0px 0px 52px 0px rgba(32, 181, 38, 0.32);
}

.Fresh-Vegetables:hover {
  border: 1px solid var(--Branding-Success-Dark, #2c742f);
  background: var(--Gray-Scale-White, #fff);
  box-shadow: 0px 0px 52px 0px rgba(32, 181, 38, 0.32);
}

.Meat-Fish:hover {
  border: 1px solid var(--Branding-Success-Dark, #2c742f);
  background: var(--Gray-Scale-White, #fff);
  box-shadow: 0px 0px 52px 0px rgba(32, 181, 38, 0.32);
}

.Snacks:hover {
  border: 1px solid var(--Branding-Success-Dark, #2c742f);
  background: var(--Gray-Scale-White, #fff);
  box-shadow: 0px 0px 52px 0px rgba(32, 181, 38, 0.32);
}

.Beverages:hover {
  border: 1px solid var(--Branding-Success-Dark, #2c742f);
  background: var(--Gray-Scale-White, #fff);
  box-shadow: 0px 0px 52px 0px rgba(32, 181, 38, 0.32);
}

.Bread-Bakery:hover {
  border: 1px solid var(--Branding-Success-Dark, #2c742f);
  background: var(--Gray-Scale-White, #fff);
  box-shadow: 0px 0px 52px 0px rgba(32, 181, 38, 0.32);
}

.Cooking:hover {
  border: 1px solid var(--Branding-Success-Dark, #2c742f);
  background: var(--Gray-Scale-White, #fff);
  box-shadow: 0px 0px 52px 0px rgba(32, 181, 38, 0.32);
}

.Dish-Detergents:hover {
  border: 1px solid var(--Branding-Success-Dark, #2c742f);
  background: var(--Gray-Scale-White, #fff);
  box-shadow: 0px 0px 52px 0px rgba(32, 181, 38, 0.32);
}

.Diabetic-Food:hover {
  border: 1px solid var(--Branding-Success-Dark, #2c742f);
  background: var(--Gray-Scale-White, #fff);
  box-shadow: 0px 0px 52px 0px rgba(32, 181, 38, 0.32);
}

.Baking-Needs:hover {
  border: 1px solid var(--Branding-Success-Dark, #2c742f);
  background: var(--Gray-Scale-White, #fff);
  box-shadow: 0px 0px 52px 0px rgba(32, 181, 38, 0.32);
}

.Fresh-Fruit:hover .fresh-fruit-title {
  color: var(--Branding-Success-Dark, #2c742f);
}

.Snacks:hover .Snacks-title {
  color: var(--Branding-Success-Dark, #2c742f);
}

.Fresh-Vegetables:hover .fresh-vegetables-title {
  color: var(--Branding-Success-Dark, #2c742f);
}

.Meat-Fish:hover .Meat-Fish-title {
  color: var(--Branding-Success-Dark, #2c742f);
}

.Beverages:hover .Beverages-title {
  color: var(--Branding-Success-Dark, #2c742f);
}

.Bread-Bakery:hover .Bread-Bakery-title {
  color: var(--Branding-Success-Dark, #2c742f);
}

.Baking-Needs:hover .Bread-Needs-title {
  color: var(--Branding-Success-Dark, #2c742f);
}

.Cooking:hover .Cooking-title {
  color: var(--Branding-Success-Dark, #2c742f);
}

.Diabetic-Food:hover .Diabetic-Food-title {
  color: var(--Branding-Success-Dark, #2c742f);
}

.Dish-Detergents:hover .Dish-Detergents-title {
  color: var(--Branding-Success-Dark, #2c742f);
}

.Popular-products {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Popular-Products-title {
  display: flex;
  width: 82.5rem;
  justify-content: space-between;
  align-items: center;
}

.products-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-row-of-popular-products {
  display: flex;
  gap: 1rem;
}

.Green-apple {
  width: 16.5rem;
  height: 20.4375rem;
  flex-shrink: 0;
}

.green-apple-img {
  width: 15.875rem;
  height: 14.375rem;
}

.green-apple-title {
  width: 15rem;
  color: var(--Gray-Scale-Gray-700, #4d4d4d);

  /* Body Small/Body Small, 400 */
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
}

.POPUP-CLASS {
  position: absolute;
  z-index: 100;
  top: 50%;
}

.lightHOME {
  opacity: 0.5;
}

.popular-products {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popular-products-heading {
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.popular-products-heading h2 {
  color: var(--Gray-Scale-Gray-900, #1a1a1a);

  /* Heading 05/Heading 05 — 600 */
  font-family: customFont;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 2.4rem */
}

.popular-products a {
  text-decoration: none;
  color: #00b207;
}

.items-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.item {
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
  transition: all;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}

.popular-products-items {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.rating-star {
  display: flex;
}

.not-filled-star {
  color: #cccccc;
}

.items-name {
  display: flex;
}

.items-price {
  display: flex;
}

.items-image {
  display: flex;
}

.items-name-eye {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.eye {
  display: none;
  cursor: pointer;
}

.item:hover .eye {
  display: flex;
  transition: all;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}

.eye:hover {
  color: #00b207;
}

.rating-star {
  display: flex;
  justify-content: flex-start;
}

.home-discount-bannar {
  background-image: url("../resources/Discount\ Bannar\ .png");
  background-size: cover;
  display: flex;
  max-width: 70vw;
  min-height: 20.375vh;
  padding-left: 48vw;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.75rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  margin: 0 auto;
  margin-top: 5rem;
}

.home-discount-bannar-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.summersalediscount {
  display: flex;
  text-align: start;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.summersalediscount:nth-child(1) {
  color: var(--Gray-Scale-White, #fff);
  font-family: customFont;
  font-size: 3.5vw;
  font-style: normal;
  text-align: start;
  font-weight: 400;
  line-height: 120%;
}

.summersalediscount:nth-child(2) {
  color: var(--Gray-Scale-White, #fff);
  font-family: customFont;
  font-size: 3.5vw;
  text-align: start;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.thirtysevernpercentoff {
  color: var(--Branding-Warning, #ff8a00);
  font-family: customFont;
  font-size: 3.5vw;
  font-style: normal;
  font-weight: 600;
  text-align: start;
  line-height: 120%;
}

.summersalediscountdesc {
  color: var(--Gray-Scale-White, #fff);
  font-family: customFont;
  max-width: 27.5625vw;
  text-align: start;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
  opacity: 0.7;
}

.home-discount-bannar button {
  display: flex;
  padding: 1rem 2.5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 2.6875rem;
  background: var(--Branding-Success, #00b207);
  border: none;
  color: var(--Gray-Scale-White, #fff);
  font-family: customFont;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.home-discount-bannar button:nth-child(1) {
  color: #fff;
  font-size: 2rem;
}

.latest-news {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 5rem;
}

.latest-news h2 {
  color: var(--Gray-Scale-Gray-900, #1a1a1a);
  text-align: center;

  /* Heading 05/Heading 05 — 600 */
  font-family: customFont;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 2.4rem */
}

.all-latest-news {
  display: flex;
  justify-content: space-evenly;
}

.news1 {
  display: flex;
  flex-direction: column;
}

.news2 {
  display: flex;
  flex-direction: column;
}

.news3 {
  display: flex;
  flex-direction: column;
}

.news1-pic {
  background-image: url("../resources/news1.jpeg");
  background-size: cover;
  width: 26.5vw;
  height: 20.25rem;
  flex-shrink: 0;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.news2-pic {
  background-image: url("../resources/news2.jpeg");
  background-size: cover;
  width: 26.5vw;
  height: 20.25rem;
  flex-shrink: 0;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.news3-pic {
  background-image: url("../resources/news3.jpeg");
  background-size: cover;
  width: 26.5vw;
  height: 20.25rem;
  flex-shrink: 0;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.news1-desc {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.news2-desc {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.news3-desc {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.news1-desc-section2-heading {
  max-width: 23.5vw;
  color: var(--Branding-Success-Dark, #2c742f);

  /* Body Large/Body Large, 500 */
  font-family: customFont;
  text-align: start;
  font-size: 1.125vw;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.6875rem */
}

.news2-desc-section2-heading {
  max-width: 23.5vw;
  color: var(--Branding-Success-Dark, #2c742f);

  /* Body Large/Body Large, 500 */
  font-family: customFont;
  text-align: start;
  font-size: 1.125vw;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.6875rem */
}

.news3-desc-section2-heading {
  max-width: 23.5vw;
  color: var(--Branding-Success-Dark, #2c742f);

  /* Body Large/Body Large, 500 */
  font-family: customFont;
  text-align: start;
  font-size: 1.125vw;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.6875rem */
}

.latestnewsbtn {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border-radius: 2.6875rem;
  color: var(--Branding-Success, #00b207);

  /* Body Medium/Body Medium, 600 */
  font-family: customFont;
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 1.2rem */
  border: none;
  outline: none;
}

.food {
  display: flex;
  gap: 0.2rem;
}

.food p {
  color: var(--Gray-Scale-Gray-700, #4d4d4d);
  font-family: customFont;
  font-size: 0.875vw;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.byadmin {
  display: flex;
  gap: 0.2rem;
}

.byadmin p {
  color: var(--Gray-Scale-Gray-700, #4d4d4d);

  /* Body Small/Body Small, 400 */
  font-family: customFont;
  font-size: 0.875vw;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
}

.comments {
  display: flex;
  gap: 0.2rem;
}

.comments p {
  color: var(--Gray-Scale-Gray-700, #4d4d4d);

  /* Body Small/Body Small, 400 */
  font-family: customFont;
  font-size: 0.875vw;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
}

.news1-desc-section1 {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.news2-desc-section1 {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.navbar-section-for-mobile-dropdown-after-click {
  display: none;
}

.news3-desc-section1 {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.companies-name-info {
  display: flex;
  gap: 5rem;
  max-width: 82.5vw;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.bottom-navbar-mobile {
  display: none;
}

.homepage-iconformobile {
  display: none;
}

.testimonials-for-mobile {
  display: none;
}

@media (min-width: 1025px) and (max-width: 1460px) {
  .small-bannar {
    display: none;
  }

  .features {
    display: flex;
  }

  .Bannar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -5rem;
  }

  .features {
    display: grid;
    grid-template-rows: 5rem 5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .Popular-Categories-first-ul li {
    width: 10rem;
  }

  .popular-products-items {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
  }

  .list-items-image {
    width: 10vw;
    object-fit: contain;
  }

  .home-discount-bannar {
    opacity: 0.9;
  }

  /* .companies-name-info{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    row-gap:5rem;
  } */
}

@media (max-width: 600px) {

  .logoandNameForMobile{
    padding: 1rem;
    font-size: 5vw;
    margin-left: 1rem;
    display: block;
  }

  .bottom-navbar-mobile {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    z-index: 1000;
  }

  .bottom-navbar-mobile a {
    color: #4d4d4d;
    font-size: 6vw;
    text-decoration: none;
  }

  .bottom-navbar-mobile a:active {
    color: #00b207;
  }

  .small-bannar {
    display: none;
  }

  .Big-Bannar {
    width: 90vw;
    object-fit: contain;
    height: 10vh;
  }

  .ad-title {
    font-size: 4vw;
    width: 35.25vw;
  }

  .sales-first-part {
    font-size: 4vw;
  }

  .sales-second-part {
    font-size: 3.15vw;
  }

  .shipping-text {
    font-size: 2.5vw;
  }

  .shopNow-btn {
    font-size: 3vw;
  }

  .features {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3vh;
    margin-left: 0.5rem;
  }

  .MoneyBackSvg {
    width: 7.5vw;
    height: 5.70431vh;
  }

  .SecurePaymentSvg {
    width: 7.5vw;
    height: 5.70431vh;
  }

  .CustomerSupportSvg {
    width: 7.5vw;
    height: 5.70431vh;
  }

  .shippingSvg {
    width: 7.5vw;
    height: 5.70431vh;
  }

  .free-shipping-text {
    font-size: 3vw;
    width: 25.625vw;
  }

  .free-shipping-order-text {
    font-size: 2.5vw;
    width: 25.625vw;
  }

  .customer-support-text {
    font-size: 3vw;
    width: 25.625vw;
  }

  .instant-access-text {
    font-size: 2.5vw;
    width: 25.625vw;
  }

  .secure-payment-security-text {
    font-size: 3vw;
    width: 25.625vw;
  }

  .secure-payment-descrp {
    font-size: 2.5vw;
    width: 25.625vw;
  }

  .money-back-guarantee-text {
    font-size: 3vw;
    width: 25.625vw;
  }

  .money-back-guarantee-desc {
    font-size: 2.5vw;
    width: 25.625vw;
  }

  .Popular-Categories-heading {
    font-size: 4vw;
  }

  .Popular-Categories-first-ul {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5rem;
  }

  .list-items-image {
    width: 25vw;
    object-fit: contain;
  }

  .fresh-fruit-title {
    font-size: 4vw;
  }

  .fresh-vegetables-title {
    font-size: 4vw;
  }

  .Meat-Fish-title {
    font-size: 4vw;
  }

  .Snacks-title {
    font-size: 4vw;
  }

  .categories-formobile {
    width: 40vw;
    min-height: 15vh;
  }

  .Beverages-title {
    font-size: 4vw;
  }

  .Bread-Bakery-title {
    font-size: 4vw;
  }

  .Bread-Needs-title {
    font-size: 4vw;
  }

  .Cooking-title {
    font-size: 4vw;
  }

  .Dish-Detergents-title {
    font-size: 4vw;
  }

  .Diabetic-Food-title {
    font-size: 4vw;
  }

  .popular-products-heading h2 {
    font-size: 3.1vw;
    text-align: start;
  }

  .popular-products a {
    text-decoration: none;
    color: #00b207;
    font-size: 3.2vw;
  }

  .goarrowright {
    font-size: 3.2vw;
  }

  .popular-products-heading {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  .popular-products-items {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }

  .items-image {
    width: 35vw;
    height: 15vh;
    object-fit: contain;
  }

  .filled-star {
    font-size: 3vw;
  }

  .not-filled-star {
    font-size: 3vw;
  }

  .popular-products {
    margin-top: 5rem;
  }

  .home-discount-bannar {
    display: none;
  }

  nav {
    display: none;
  }

  .latest-news {
    display: none;
  }

  .latest-news-for-mobile {
    display: flex;
    width: 100vw;
    gap: 0.5rem;
    align-items: center;
  }

  .prev-news-btn {
    transform: rotate(180deg);
  }

  .latest-news-for-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-news-for-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }

  .button-news-for-mobile :nth-child(1) {
    color: #00b207;
    font-weight: 700;
    font-size: 4vw;
  }

  .latest-news-image-formobile {
    width: 100%;
    border-radius: 1rem;
    object-fit: contain;
  }

  .news-section-for-mobile {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .news-description {
    font-size: 3vw;
    text-align: start;
    font-family: customFont;
    color: #4d4d4d;
    font-weight: 400;
  }

  .news-middle-section-formobile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .food-formobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .byadmin-formobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .comments-formobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .food-formobile p {
    font-size: 3vw;
    color: #666;
  }

  .byadmin-formobile p {
    font-size: 3vw;
    color: #666;
  }

  .comments-formobile p {
    font-size: 3vw;
    color: #666;
  }

  .formobile-icons {
    width: 5vw;
    height: 3vh;
  }

  .read-more-formobile {
    border: none;
    text-align: start;
    font-weight: 500;
    font-family: customFont;
    color: #00b207;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .testimonials {
    display: none;
  }

  .name-and-customer-formobile {
    display: flex;
    flex-direction: column;
    gap: 0.65rem;
  }

  .stars-for-rating-formobile {
    display: flex;
    align-items: center;
    margin-top: -0.5rem;
  }

  .stars-filled-formobile {
    color: #ff8a00;
    font-size: 3vw;
  }

  .stars-notfilled-formobile {
    color: #808080;
    font-size: 3vw;
  }

  .testimonials-for-mobile {
    display: flex;
    width: 100vw;
    margin-top: 5rem;
    align-items: center;
  }

  .testimonial-section-for-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.85rem;
  }

  .testimonial-description {
    color: var(--Gray-Scale-Gray-700, #4d4d4d);
    font-family: customFont;
    font-size: 2.5vw;
    width: 80%;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 0.825rem */
  }

  .testimonial-image-formobile {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    opacity: 0.8;
    border-radius: 100%;
  }

  .testimonial-icon {
    width: 5vw;
    height: 5vh;
    transform: rotate(180deg);
  }

  .last-section-of-testimonial-forMobile {
    display: flex;
    gap: 1rem;
  }

  .name-of-the-customer {
    font-size: 3.6vw;
  }

  .customer-text-formobile {
    color: var(--Gray-Scale-Gray-700, #4d4d4d);
    font-family: customFont;
    font-size: 2.2vw;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 0.825rem */
    margin-top: -0.5rem;
  }

  .activatedCircles {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #666;
    border: none;
  }

  .current-testimonial {
    display: flex;
    gap: 0.4rem;
  }

  .activated-testimonial {
    background-color: #00b207;
  }

  .button-testimonial-for-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }

  .button-testimonial-for-mobile :nth-child(1) {
    color: #00b207;
    font-weight: 700;
    font-size: 4vw;
  }

  .companies-name-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem;
  }

  .gridlaganevalabox {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }

  .companies-name-info svg {
    width: 18.09888vw;
    height: 2rem;
    flex-shrink: 0;
  }

  .Bannar {
    display: none;
  }

  .Bannar-forMobile {
    background-image: url("../resources/Rectangle\ 54.png");
    max-width: 100vw;
    height: 25.5rem;
    background-size: cover;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
  }

  .inside-frame-of-Bannar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.85rem;
    margin-top: 2rem;
  }

  .shopNowBtnForMobile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.375rem 0.375rem;
    border-radius: 2.557rem;
    border: none;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    color: var(--Branding-Success, #00b207);
    text-align: justify;
    font-size: 3vw;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 1.05rem */
  }

  .Bannar-forMobile {
    margin: 1rem;
  }

  .goarrowRight {
    font-size: 3vw;
  }

  .bestdeal-formobile {
    width: 26.5rem;
    color: var(--Gray-Scale-White, #fff);
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 0.875rem */
    letter-spacing: 0.02625rem;
    text-transform: uppercase;
  }

  .sale-formobile {
    width: 26.5rem;
    color: var(--Gray-Scale-White, #fff);
    text-align: center;
    font-size: 7.5vw;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }
}

@media (max-width: 1024px) and (min-width: 600px) {
  .Bannar-forMobile {
    display: none;
  }

  .bottom-navbar-mobile {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    z-index: 1000;
  }

  .bottom-navbar-mobile a {
    color: #4d4d4d;
    font-size: 6vw;
    text-decoration: none;
  }

  .bottom-navbar-mobile a:active {
    color: #00b207;
  }

  .small-bannar {
    display: none;
  }

  .Big-Bannar {
    width: 90vw;
    object-fit: contain;
    height: 10vh;
  }

  .ad-title {
    font-size: 4vw;
    width: 35.25vw;
  }

  .sales-first-part {
    font-size: 4vw;
  }

  .sales-second-part {
    font-size: 3.15vw;
  }

  .shipping-text {
    font-size: 2.5vw;
  }

  .shopNow-btn {
    font-size: 3vw;
  }

  .features {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3vh;
    margin-left: 0.5rem;
  }

  .MoneyBackSvg {
    width: 7.5vw;
    height: 5.70431vh;
  }

  .SecurePaymentSvg {
    width: 7.5vw;
    height: 5.70431vh;
  }

  .CustomerSupportSvg {
    width: 7.5vw;
    height: 5.70431vh;
  }

  .shippingSvg {
    width: 7.5vw;
    height: 5.70431vh;
  }

  .free-shipping-text {
    font-size: 3vw;
    width: 25.625vw;
  }

  .free-shipping-order-text {
    font-size: 2.5vw;
    width: 25.625vw;
  }

  .customer-support-text {
    font-size: 3vw;
    width: 25.625vw;
  }

  .instant-access-text {
    font-size: 2.5vw;
    width: 25.625vw;
  }

  .secure-payment-security-text {
    font-size: 3vw;
    width: 25.625vw;
  }

  .secure-payment-descrp {
    font-size: 2.5vw;
    width: 25.625vw;
  }

  .money-back-guarantee-text {
    font-size: 3vw;
    width: 25.625vw;
  }

  .money-back-guarantee-desc {
    font-size: 2.5vw;
    width: 25.625vw;
  }

  .Popular-Categories-heading {
    font-size: 4vw;
  }

  .Popular-Categories-first-ul {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5rem;
  }

  .list-items-image {
    width: 25vw;
    object-fit: contain;
  }

  .fresh-fruit-title {
    font-size: 4vw;
  }

  .fresh-vegetables-title {
    font-size: 4vw;
  }

  .Meat-Fish-title {
    font-size: 4vw;
  }

  .Snacks-title {
    font-size: 4vw;
  }

  .categories-formobile {
    width: 40vw;
    min-height: 15vh;
  }

  .Beverages-title {
    font-size: 4vw;
  }

  .Bread-Bakery-title {
    font-size: 4vw;
  }

  .Bread-Needs-title {
    font-size: 4vw;
  }

  .Cooking-title {
    font-size: 4vw;
  }

  .Dish-Detergents-title {
    font-size: 4vw;
  }

  .Diabetic-Food-title {
    font-size: 4vw;
  }

  .popular-products-heading h2 {
    font-size: 3.1vw;
    text-align: start;
  }

  .popular-products a {
    text-decoration: none;
    color: #00b207;
    font-size: 3.2vw;
  }

  .goarrowright {
    font-size: 3.2vw;
  }

  .popular-products-heading {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  .popular-products-items {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }

  .items-image {
    width: 35vw;
    height: 15vh;
    object-fit: contain;
  }

  .filled-star {
    font-size: 3vw;
  }

  .not-filled-star {
    font-size: 3vw;
  }

  .popular-products {
    margin-top: 5rem;
  }

  .home-discount-bannar {
    display: none;
  }

  nav {
    display: none;
  }

  .latest-news {
    display: none;
  }

  .latest-news-for-mobile {
    display: flex;
    width: 100vw;
    gap: 0.5rem;
    align-items: center;
  }

  .prev-news-btn {
    transform: rotate(180deg);
  }

  .latest-news-for-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-news-for-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }

  .button-news-for-mobile :nth-child(1) {
    color: #00b207;
    font-weight: 700;
    font-size: 4vw;
  }

  .latest-news-image-formobile {
    width: 100%;
    border-radius: 1rem;
    object-fit: contain;
  }

  .news-section-for-mobile {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .news-description {
    font-size: 3vw;
    text-align: start;
    font-family: customFont;
    color: #4d4d4d;
    font-weight: 400;
  }

  .news-middle-section-formobile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .food-formobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .byadmin-formobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .comments-formobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .food-formobile p {
    font-size: 3vw;
    color: #666;
  }

  .byadmin-formobile p {
    font-size: 3vw;
    color: #666;
  }

  .comments-formobile p {
    font-size: 3vw;
    color: #666;
  }

  .formobile-icons {
    width: 5vw;
    height: 3vh;
  }

  .read-more-formobile {
    border: none;
    text-align: start;
    font-weight: 500;
    font-family: customFont;
    color: #00b207;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .testimonials {
    display: none;
  }

  .name-and-customer-formobile {
    display: flex;
    flex-direction: column;
    gap: 0.65rem;
  }

  .stars-for-rating-formobile {
    display: flex;
    align-items: center;
    margin-top: -0.5rem;
  }

  .stars-filled-formobile {
    color: #ff8a00;
    font-size: 3vw;
  }

  .stars-notfilled-formobile {
    color: #808080;
    font-size: 3vw;
  }

  .testimonials-for-mobile {
    display: flex;
    width: 100vw;
    margin-top: 5rem;
    align-items: center;
  }

  .testimonial-section-for-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.85rem;
  }

  .testimonial-description {
    color: var(--Gray-Scale-Gray-700, #4d4d4d);
    font-family: customFont;
    font-size: 2.5vw;
    width: 80%;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 0.825rem */
  }

  .testimonial-image-formobile {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    opacity: 0.8;
    border-radius: 100%;
  }

  .testimonial-icon {
    width: 5vw;
    height: 5vh;
    transform: rotate(180deg);
  }

  .last-section-of-testimonial-forMobile {
    display: flex;
    gap: 1rem;
  }

  .name-of-the-customer {
    font-size: 3.6vw;
  }

  .customer-text-formobile {
    color: var(--Gray-Scale-Gray-700, #4d4d4d);
    font-family: customFont;
    font-size: 2.2vw;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 0.825rem */
    margin-top: -0.5rem;
  }

  .activatedCircles {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #666;
    border: none;
  }

  .current-testimonial {
    display: flex;
    gap: 0.4rem;
  }

  .activated-testimonial {
    background-color: #00b207;
  }

  .button-testimonial-for-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }

  .button-testimonial-for-mobile :nth-child(1) {
    color: #00b207;
    font-weight: 700;
    font-size: 4vw;
  }

  .companies-name-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem;
  }

  .gridlaganevalabox {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }

  .companies-name-info svg {
    width: 18.09888vw;
    height: 2rem;
    flex-shrink: 0;
  }

  .Bannar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 6rem;
    max-width: 100%;
    height: 100%;
  }

  .small-bannar {
    display: none;
  }

  .Big-Bannar {
    width: 90vw;
    height: 50vh;
    background-size: cover;
    opacity: 0.8;
  }

  .shipping-text {
    width: 20vw;
  }

  .logoandNameForMobile{
    padding: 1rem;
    font-size: 5vw;
    margin-left: 1rem;
    display: block;
  }

  .plant-logo{
    width: 2.5rem;
    height: 2.5rem;
  }
}