.products-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shoping-bannar {
  background-image: url("../resources/shoping\ mainpage.png");
  width: 82.5rem;
  height: 22.375rem;
  flex-shrink: 0;
  background-size: cover;
  margin-top: 5rem;
}

.shoping-bannar {
  display: flex;
  padding-left: 5rem;
  padding-top: 5rem;
}

.shoping-bannar .best-deals h1 {
  width: 26.5rem;
  text-align: start;
  color: var(--Gray-Scale-White, #fff);

  /* Heading 03/Heading 03 — 600 */
  font-family: customFont;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 3rem */
}

.shoping-bannar .best-deals h2 {
  width: 26.5rem;
  text-align: start;
  color: var(--Gray-Scale-White, #fff);

  /* CAPS LOCK/Medium Caps Lock */
  font-family: customFont;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 0.875rem */
  letter-spacing: 0.02625rem;
  text-transform: uppercase;
}

.best-deals {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.all-product-showing-div-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
  margin-top: 6rem;
}

.fruit-images {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: flex-start;
  object-fit: cover;
}

.stars {
  display: flex;
}

.star-filled {
  color: #ff8a00;
  font-size: 1.3rem;
}

.star-not-filled {
  font-size: 1.3rem;
  color: #cccccc;
}

.productname {
  width: 17.5rem;
  color: var(--Gray-Scale-Gray-700, #4d4d4d);

  /* Body Small/Body Small, 400 */
  font-family: customFont;
  text-align: start;
  font-size: 1.275rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.productPrice {
  color: var(--Gray-Scale-Gray-900, #1a1a1a);

  /* Body Medium/Body Medium, 500 */
  font-family: customFont;
  text-align: start;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 1.5rem */
}

.fruit-section :nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.product-name-and-price {
  display: flex;
  flex-direction: column;
}

.bag-others {
  display: flex;
  justify-content: space-around;
}

.bag {
  font-size: 1.5rem;
  cursor: pointer;
}

.shopping-cart {
  cursor: pointer;
}

.addToCart {
  border: none;
  width: fit-content;
  height: fit-content;
}

.greenBag {
  color: #00b207;
}

.eye-btn-checkout {
  padding-left: 20rem;
  font-size: 1.3rem;
  cursor: pointer;
  opacity: 0;
  transition: all;
  transition-duration: 500ms;
}

.eye-btn-checkout:hover {
  display: flex;
  color: #00b207;
}

.fruit-section:hover .eye-btn-checkout {
  opacity: 1;
}

.category-section-name {
  width: 19rem;
}

.fashoppinBagBtn {
  width: max-content;
  height: max-content;
  border: none;
}

.add-and-remove-item-button1 {
  display: flex;
  width: 12rem;
  padding: 1rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 2.6875rem;
  background: var(--Branding-Success, #00b207);
  border: none;
  color: var(--Gray-Scale-White, #fff);
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
