.recipe-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.track-of-path {
  background-image: url("../resources/Breadcrumbs\ .png");
  background-size: cover;
  display: flex;
  width: 100vw;
  height: 7.5rem;
  padding: 0vw 80.36456vw 0vw 4.75vw;
  /* padding-left: 8rem; */
  align-items: center;
  flex-shrink: 0;
}

.filtersList-for-mobile {
  display: none;
}

.track {
  display: flex;
  align-items: center;
}

.recipe-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.filters-and-allFilteredRecipe {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.FILTER {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 1rem;
}

.recipes-list li ul {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.recipes-list li img {
  max-width: 26.5vw;
  object-fit: cover;
  min-height: 20.25vh;
  flex-shrink: 0;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.filter-info {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.filter-info div {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.filter-info {
  display: flex;
  padding-left: 5rem;
  align-items: center;
}

.Warning-display-forMobile {
  display: none;
}

.recipes-list {
  display: grid;
  grid-template-columns: 30vw 30vw;
  row-gap: 5vh;
}

.filter-info-perdiv-para {
  color: var(--Gray-Scale-Gray-700, #4d4d4d);

  /* Body Small/Body Small, 400 */
  font-family: customFont;
  font-size: 0.875vw;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
}

.Display-hidden {
  display: none;
}

.recipe-heading {
  max-width: 30.5vw;
  color: var(--Gray-Scale-Gray-900, #1a1a1a);
  font-family: customFont;
  font-size: 1.025vw;
  font-weight: bolder;
  line-height: 150%;
}

.readmorebtn {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border-radius: 2.6875rem;
  color: var(--Branding-Success, #00b207);
  font-family: customFont;
  border: none;
  font-size: 1vw;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.2vw;
  line-height: 120%;
  text-align: start;
  margin-left: 2rem;
}

.lower-three-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filter-btn {
  cursor: pointer;
  display: inline-flex;
  max-width: 8vw;
  height: 5vh;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  border-radius: 2.6875rem;
  background: var(--Branding-Success, #00b207);

  color: var(--Gray-Scale-White, #fff);

  /* Body Small/Body Small, 600 */
  font-family: customFont;
  font-size: 0.875vw;
  font-style: normal;
  letter-spacing: 0.125vw;
  font-weight: 500;
  line-height: 120%; /* 1.05rem */
}

.inputField-and-searchBtn input {
  display: flex;
  max-width: 26.5vw;
  padding: 0.875vw 1vw;
  align-items: flex-start;
  gap: 0.5rem;
  border: 1px solid var(--Gray-Scale-Gray-100, #e6e6e6);
  background: var(--Gray-Scale-White, #fff);
  outline: none;
  color: var(--Gray-Scale-Gray-400, #999);
  font-family: customFont;
  flex-shrink: 0;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.inputField-and-searchBtn {
  display: flex;
}

.inputField-and-searchBtn button {
  width: 7vw;
  border-radius: 0rem 5rem 5rem 0rem;
  background: var(--Branding-Success, #00b207);
  color: #fff;
  border: none;
  font-family: customFont;
  flex-shrink: 0;
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.all-filterings div ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cuisine {
  margin-top: 3rem;
}

.cuisine-filter {
  margin-top: 1rem;
}

.diet-filter {
  margin-top: 1rem;
}

.all-filterings div ul li label {
  color: var(--Gray-Scale-Gray-900, #1a1a1a);

  /* Body Small/Body Small, 400 */
  font-family: customFont;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
}

.meal {
  margin-top: 3rem;
}

.meal-filters {
  margin-top: 1rem;
}

.NOTE {
  width: 30%;
  margin-top: 3rem;
  margin-left: 21rem;
  display: flex;
  text-align: start;
  font-size: 1.1rem;
  font-family: customFont;
  color: #d5b60a;
  font-weight: lighter;
  background: #fff;
}

.NOTE span {
  color: crimson;
  font-weight: bold;
}

.filters-and-allFilteredRecipe {
  display: flex;
}

@media (max-width: 1024px) {
  .filtersList-for-mobile {
    display: flex;
  }

  .filters-and-allFilteredRecipe {
    display: none;
  }

  .Warning-display {
    display: none;
  }

  .Warning-display-forMobile {
    display: flex;
  }

  .Display-hidden {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .filtersList-for-mobile{
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    transition: bottom 1s;
    min-height: 40vh;
  }

  .filtersList-for-mobile.neiDikhaneKa{
    display: none;
    transform: translateY(100%);
    transition: bottom 1s;
  }

  .filtersList-for-mobile.dikhaneKa {
    display: block;
    transform: translateY(0);
    bottom: 0;
  }
}
