.filled-stars {
  color: #ff8a00;
  font-size: 1.5vw;
}

.not-filled-stars {
  color: #cccccc;
  font-size: 1.5vw;
}

.FilterMobile{
  display: none;
}

.mobile-show-items{
  display: none;
}

.Two-rows-item-card-for-mobile{
  display: none;
}

.item-card-for-item-showing-div-grid-for-mobile{
  display: none;
}

.item-card-for-item-showing-div-grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 5vw;
  margin-top: 5vh;
}

.filters-for-mobile{
  display: none;
}

.item-images {
  max-width: 20vw;
  height: 20vh;
  display: flex;
  justify-content: flex-start;
  object-fit: cover;
}

.shop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.product-card h2 {
  display: flex;
  max-width: 17.5vw;
  color: var(--Gray-Scale-Gray-700, #4d4d4d);
  font-family: customFont;
  font-size: 1.175vw;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.product-card h4 {
  display: flex;
}

.product-card img {
  display: flex;
  max-width:25vw;
  object-fit: cover;
  height: 15vh;
}

.btn-and-stars {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-card {
  display: flex;
  flex-direction: column;
}

.fashoppinBagBtn {
  width: max-content;
  height: max-content;
  border: none;
}

.full-filters-list-for-mobile{
  display: none;
}

.shoppingBag {
  font-size: 1.5vw;
}

.item-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow .3s ease;
}

.filter-product-section {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

.Filter {
  padding-top: 7rem;
  position: sticky;
}

.all-categories {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.all-categories h2 {
  color: var(--Gray-Scale-Gray-900, #1a1a1a);

  /* Body XL/Body XL, 500 */
  font-family: customFont;
  font-size: 1.25vw;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.875rem */
}

.all-categories ul li label span {
  color: var(--Gray-Scale-Gray-900, #1a1a1a);

  /* Body Small/Body Small, 400 */
  font-family: customFont;
  font-size: 1.175vw;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
}

.all-categories ul {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
}

.all-categories ul li label {
  display: flex;
  gap: 0.5rem;
}

.Filter {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.all-categories ul li label span {
  display: flex;
  gap: 0.25rem;
}

.all-categories ul li label span p {
  color: var(--Gray-Scale-Gray-500, #808080);

  /* Body Small/Body Small, 400 */
  font-family: customFont;
  font-size: 1.175vw;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
}

.all-categories ul li label {
  cursor: pointer;
}

.Two-rows-item-card {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 5vw;
  margin-top: 5vh;
}


.NO-item-found-text {
  font-size: 1.5vw;
  padding-top: 18rem;
}

.price-eye{
  display: flex;
  justify-content: space-between;
}

.priceTag{
  font-size: 1vw;
}

.eyeforshopping{
  font-size: larger;
  padding-top: -5rem;
  cursor: pointer;
  display: none;
  transition: all;
  transition-duration: 500ms;
}

.item-card:hover .eyeforshopping{
  display: block;
}

.eyeforshopping:hover{
  color: #00B207;
}

.eyeforshoppingBtn{
  border: none;
  /* margin-top: .5rem; */
  width: max-content;
  height: max-content;
}

.image-and-eye{
  display: flex;
  justify-content: space-between;
}

.add-and-remove-item-button1{
  display: flex;
  width: 12vw;
  padding: 1vw 1.5vw;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  border-radius: 2.6875rem;
  background: var(--Branding-Success, #00b207);
  border: none;
  color: var(--Gray-Scale-White, #fff);
  font-size: .8vw;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.Mobile-Filter{
  display: none;
}

.filters-and-products-show{
  display: none;
}

@media (max-width:1024px){

  .filters-for-mobile-btn{
    background:none;
  }

  .product-card img{
    max-width: 60vw;
    height: 10vh;
    object-fit: contain;
  }

  .item-card-for-item-showing-div-grid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin-left: 2rem;
    row-gap: 2rem;
  }

  .product-card h2{
    font-size: 4vw;
    min-width: 40vw;
  }

  .product-card h4{
    font-size: 4vw;
  }

  .filled-stars{
    font-size: 4vw;
  }

  .not-filled-stars{
    font-size: 4vw;
  }

  .handbagIcon{
    display: none;
  }

  .btn-and-stars{
    display: flex;
    flex-direction: column;
    gap: .55rem;
    align-items: flex-start;
  }

  .add-and-remove-item-button1{
    font-size: 2.8891vw;
    width: 40vw;
  }

  .filters-for-mobile{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    margin-top: 1rem;
  }
  
  .filters-for-mobile-btn{
    font-size: 4vw;
    width: max-content;
    border: none;
  }
  
  .filters-for-mobile-btn svg{
    font-size: 4vw;
    margin-top: .2rem;
  }

  .full-filters-list-for-mobile{
    width: 100vw;
    min-height: 60vh;
    background-color: #808080;
    display: flex;
    flex-direction: column;
  }

  .FilterMobile{
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .filter-btn{
    font-size: 4vw;
    max-width:40vw;
    height: 4vh;
  }

  .all-categories h2{
    font-size: 4vw;
  }

  .all-categories ul li label span{
    font-size: 3vw;
  }

  .all-categories ul li label input{
    font-size: 2vw;
  }

  .all-categories ul li label{
    width: max-content;
  }

  .Mobile-Filter{
    display: flex;
    flex-direction: column;
  }

  .filter-product-section{
    display: flex;
    flex-direction: column;
  }

  .Two-rows-item-card{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 5vw;
    margin-top: 5vh;
    margin-left: 2rem;
  }

  .filters-and-products-show{
    display: flex;
    width: 100vw;
    min-height: 60vh;
    background-color: #808080;
  }

  .Filter{
    display: none;
  }

  .filters-and-products-show{
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
  }

  .filters-and-products-show.neiDikhaneKa{
    display: none;
    transform: translateY(100%);
    transition: bottom 1s;
  }

  .filters-and-products-show.dikhaneKa {
    display: block;
    transform: translateY(0);
    bottom: 0;
  }
  

  .Filters-for-mobile{
    padding: 1rem;
  }

  .filter-btn{
    font-size: 3vw;
    width: 20vw;
  }

  .all-categories ul li label span{
    font-size: 4vw;
  }

  .all-categories ul li label span p{
    font-size: 4vw;
  }

  .Price-filter{
    padding-top: 1.3rem;
  }

  .Price-filter h2{
    font-size: 6vw;
  }

  .Two-rows-item-card-for-mobile{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 3vw;
    row-gap: 2rem;
    margin-top: 5vh;
    margin-left: 1rem;
  }

  .item-card-for-item-showing-div-grid-for-mobile{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 3vw;
    row-gap: 2rem;
    margin-top: 5vh;
    margin-left: 1rem;
  }

  .item-card-for-item-showing-div-grid{
    display: none;
  }

  .Two-rows-item-card{
    display: none;
  }

  .item-images {
    width: 25vw;
  }

  .footer{
    padding-top: 5rem;
  }
}