.home {
    color: var(--Gray-Scale-Gray-400, #999);
}

.rightIcon {
    color: var(--Gray-Scale-Gray-400, #999);
}

.Account-txt {
  color: var(--Gray-Scale-Gray-400, #999);

  /* Body Medium/Body Medium, 400 */
  font-family: customFont;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
}

.login {
  color: var(--Branding-Success, #00b207);
  width:8rem;
  text-align: start;
  /* Body Medium/Body Medium, 400 */
  font-family: customFont;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
}

.signup{
  color: var(--Branding-Success, #00b207);
  width:8rem;

  /* Body Medium/Body Medium, 400 */
  font-family: customFont;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
  text-align: start;
}

.login-createAccount-text {
  display: flex;
  gap: 1rem;
}

.signup-div{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}