.priceRangeSliderFilter .thumb{
    width: 23px;
    height: 23px;
    cursor: grab;
    background: #adff45;
    border-radius: 100%;
    border:2px solid green;
    margin-top: -.5rem;
}

.priceRangeSliderFilter{
    max-width:14vw;
    height: .4vh;
    background-color: #ccc;
    margin-top: .5vh;
}